{% load static %}
<!DOCTYPE html>
<html lang="jp">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>日記アプリ</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'diary/css/bootstrap4-retro.min.css' %} ">
</head>
<body class="ht-body ht-tm-retro">

<div id="ht-tm-jumbotron">
    <div class="jumbotron bg-secondary text-center text-danger mb-0 radius-0 ht-tm-jumbotron">
        <div class="container">
            <div class="ht-tm-header">
                <h1 class="display-1 text-uppercase">Diary</h1>
            </div>

            <a href="{% url 'diary:add' %}" class="btn btn-danger btn-lg m-2 text-secondary btn-ht-dl-message">
                <span>日記を追加する</span>
            </a>

        </div>
    </div>
</div>

<div class="ht-main">
    <div class="ht-tm-wrapper">
        <div class="container ht-tm-container">
            <div class="pt-5">
            </div>
            <div class="row">
                <div class="col-xl-18">
                    <div id="ht-tm-maincolumn" class="ht-tm-maincolumn">
                        <div class="ht-tm-componentsblock">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
