{% extends 'diary/base.html' %}

{% block content %}
    <div class="ht-tm-cat">
        <h5 class="ht-tm-cat-title">{{ diary.created_at }}</h5>
        <div class="ht-tm-element jumbotron">
            <h1 class="display-3">{{ diary.title }}</h1>
            <p class="lead">{{ diary.text }}</p>
        </div>
        <div class="ht-tm-element alert alert-primary" role="alert">
            この記事を削除します。よろしいですか？
        </div>

        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">削除する</button>
        </form>
    </div>
{% endblock %}